@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat:100,200,300,300i,400,500,600,700,800,900|Playfair+Display:400,400i,700,700i,900,900i|Work+Sans:100,200,300,400,500,600,700,800,900');

.buy-btn.top-btn {
    background-color: #519f10;
    border-color: #519f10;
}

.buy-btn:hover {
    background-color: #519f10;
    border-color: #519f10;
    color: #ddd;
}

.demo-item .image::after {
    background-color: #519f10;
}

.demo-item .image i:hover {
    color: #519f10;
}

.section-title h1 {
    font-family: "Work Sans", sans-serif;
}

.stick .buy-btn.top-btn {
    border: 2px solid #519f10;
    color: #fff;
}

.stick .buy-btn {
    border: 2px solid #519f10;
    color: #519f10;
}

.single-feature .icon {
    color: #519f10;
}

.footer-section {
    background-color: #444;
}

.stick .buy-btn:hover {
    color: #ddd;
}

.demo-item .title a:hover {
    color: #519f10;
}

.footer-section .buy-btn:hover {
    color: #519f10;
}

.footer-section .buy-btn.bottom-btn {
    color: #fff;
    background-color: #519f10;
    border: 2px solid #519f10;
}

.hero-content h1 {
    text-transform: capitalize;
}

.stick .non-sticky {
    display: none;
}

.demo-item {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
}

.demo-item .title {
    padding: 20px 0;
    margin: 0;
}

.hero-content h1 {
    font-size: 33px;
    text-transform: inherit;
}

.single-feature .content h4 {
    line-height: 16px;
}

.logo {
    padding: 0;
}

.stick .logo a .sticky-logo {
    margin-top: 3px;
}

.hero-section.overlay::before {
    opacity: 0.5;
}

.hero-section {
    padding: 300px 0 400px;
}

.stick .buy-btn {
    margin-top: 0;
}

@media (min-width: 1200px) and (max-width: 1400px) {
    .hero-section {
        padding: 250px 0 200px;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    .hero-section {
        padding: 250px 0 200px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .footer-section h1 {
        line-height: 40px;
    }

    .hero-section {
        padding: 200px 0 200px;
    }
}

@media (max-width: 767px) {
    .hero-section {
        padding: 150px 0 100px;
    }

    .footer-section h1 {
        line-height: 40px;
    }

    .hero-content h1 {
        font-size: 25px;
        line-height: 40px;
        text-transform: inherit;
    }

    .stick .logo a .sticky-logo {
        margin-top: 0;
    }


}