.breadcrumb-area {
    color: white;
    opacity: 0.8;
    padding: 120px 0;
}
.breadcrumb-area h1 {
    color: white;
    font-weight: bolder;
}

.breadcrumb-content ul {
    background-color: crimson;
} 
.breadcrumb-content li {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin-left: 0;
    position: relative;
    text-transform: uppercase;
}
.breadcrumb-content li::before {
    background-color: #aaaaaa;
    content: "";
    height: 3px;
    margin: 11px 0;
    position: absolute;
    right: 3px;
    top: 0;
    transform: rotate(-67deg);
    transition: all 0.4s ease 0s;
    width: 14px;
}
.breadcrumb-content li a {
    color: #fff;
    margin-right: 20px;
}
.breadcrumb-content li.active::before {
    transform: none;
    transition: none;
    height: 0
}

.blog-details-wrapper p {
    text-align: justify;
    word-break: break-word;
}

.bg-image-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.45)), url(/article-header.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (min-width: 1400px) {
    .blog-details-wrapper {
        margin: 0 -20% 0 -10%;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .blog-details-wrapper {
        margin-right: -50%;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .blog-details-wrapper {
        margin: 0 -3em;
    }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .blog-details-wrapper {
        margin: 0 -3em;
    }
}
@media only screen and (max-width: 479px) {
    .blog-details-wrapper {
        margin: 0 -3em;
    }
    .breadcrumb-content h1 {
        font-size: 2em;
    }
    .breadcrumb-content li {
        font-size: 10px;
    } 
}
@media only screen and (max-width: 375px) {
    .blog-details-wrapper {
        margin: 0 -2em;
    }
}
@media only screen and (max-width: 320px) {
    .blog-details-wrapper {
        margin: 0;
    }
}