/* Large Screen  */
@media only screen and (min-width: 1400px) {
}

/* Laptop Screen  */
@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .hero-section {
    padding: 30% 0;
  }
}

/* desktop :1200px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .single-feature .content p {
    font-size: 14px;
  }
  .hero-section {
    padding: 30% 0;
  }
}

/* Tablet :768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-section {
      padding: 200px 0 200px;
  }
  .hero-content h1 {
    font-size: 30px;
  }
  .section-item .image i {
    height: 50px;
    line-height: 46px;
    width: 50px;
  }
  .single-feature .content p {
    font-size: 14px;
  }
}

/* Large Mobile :480px. */

@media (max-width: 767px) {

}
@media only screen and (max-width: 767px) {
  .header-title {
    margin-left: 10%;
    color: white;
    font-size: 20px 
  }
  .top-btn {
    width: 7em;
    height: 3em;
    padding: 0;
    right: -20px;
    top: 5px;
    padding-top: 5%;
  }
  .logo {
    width: 3em;
  }

  .container {
      width: 450px;
  }
  .hero-section {
      padding: 150px 0 100px;
  }
  .hero-content h1 {
      font-size: 25px;
      line-height: 40px;
      text-transform: inherit;
  }
  .hero-content h1 strong {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .hero-content a {
    margin-top: 20px;
  }
  .section-title {
    font-size: 30px;
  }
}

/* small mobile :320px. */
@media only screen and (max-width: 479px) {
  .top-btn {
    right: -5%;
    font-size: 12px;
    width: 6em;
  }
  .none-stick .top-btn {
    font-size: 20px;
    line-height: 1em;
  }
  .section-item {
    min-height: 15em;
    min-width: 15em;
  }
  .container {
      width: 300px;
  }
  .hero-section {
    padding: 150px 0 100px;
  }
  .hero-content h1 {
    font-size: 14px;
    line-height: 20px;
  }
  .hero-content h1 strong {
    font-size: 30px;
  }
  .hero-content p {
    font-size: 13px;
  }
  .hero-content a {
    margin-top: 20px;
  }
}
